ARC_RPC_URL=
ARC_CHAIN_ID=5042002
ARC_EXPLORER_URL=https://testnet.arcscan.app
ARC_CONTEXT_DIR=$HOME/.arc-canteen/context
ARCOX_API_BASE_URL=
ARCOX_AI_ROUTER_API_KEY=
ARCOX_SESSION_PRIVATE_KEY=0xYOUR_DEDICATED_SESSION_SIGNER_PRIVATE_KEY
ARCOX_API_PASS_ADDRESS=0x56a948968125e37637a2875be0dc901357b184c0
ARCOX_LOCAL_PROXY_ORIGIN=
